html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (max-width: 767px) {
  .sidebar-mobile-closed {
    height: 4rem !important;
    overflow: hidden;
  }

  .sidebar-mobile-closed nav {
    display: none !important;
  }
}

.sidebar-nav {
  transition: height 0.3s ease-out, opacity 0.2s linear;
}

.sidebar-ease {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.date-input {
  color-scheme: light;
}

.overflow-x-auto {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

/* Untuk mobile scrolling */
@media (max-width: 767px) {
  .table-container {
    width: 100vw;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.visible-scrollbar {
  scrollbar-width: thin; /* Untuk Firefox */
  scrollbar-color: #94a3b8 #f1f5f9; /* Warna scrollbar */
}

.visible-scrollbar::-webkit-scrollbar {
  height: 8px; /* Tinggi scrollbar untuk horizontal */
  width: 8px; /* Lebar scrollbar untuk vertical */
}

.visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Warna thumb */
  border-radius: 4px;
}

.visible-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9; /* Warna track */
}

::-webkit-scrollbar {
  height: 8px;
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  thead.sticky {
    top: 68px;
  }

  tbody {
    overflow-x: auto;
    display: block;
  }
}

@media (max-width: 640px) {
  .sticky-pagination {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 10;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  .sticky-search {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
  }

  .scrollable-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
